.App {
  text-align: center;
}


.tab-parent {
  display: flex;
}

.tab-heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
display: flex;
border: 1px solid black;
height: 300px;
}

.profile-body {
  display: flex;
  flex-direction: column;
}



